@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

 .bck{
    text-align: center;
    background-image: url("https://images.unsplash.com/photo-1454587399083-b11b22f48fb6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"); 
     /* background:url("../../Components/Signin/signinpage.css")  */
    min-height:100%;
    min-width: 100%;
    position: fixed;
    background-size: cover;
    background-position: center;
  }

/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a {
    color: #2199df;
    text-decoration: unset;
  }

  ul {
    margin-left: 1.5rem;
    list-style: none;
  }
  
  button,
  input[type="submit"] {
    border: none;
    background: none;
    color: unset;
    cursor: pointer;
  }

  h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin-top: 1em;
  margin-bottom: 1em;
}
.page {
  padding: 1rem;
}
.container-form {
  margin: 0 auto;
  max-width: 900px;
}


/* header */

#header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(3,23,112);
background: linear-gradient(90deg, rgba(3,23,112,1) 0%, rgba(79,8,131,1) 36%, rgba(11,3,33,1) 100%);
  }
  #header .title {
    margin: 0;
    padding: 0 1rem;
    color: #ffffffee;
  }

  #header .auth-options {
    height: 50%;
    display:inline-flex
  }

  #header .auth-options button {
    padding: 0 1rem;
    margin-right: 4px;
    background-color: #5808ebf5;
    color: #ffffffee;
    font-size: 1.1rem;
  }
  #header .auth-options button:hover {
    background-color: #300b61;
    color: #ffffffee;
  }
  .prjDivisionBtn {
    background-color: #290c96;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .logo{
    width:10%;
     height:20%;
     margin-bottom: -86px;
     border-radius: 50%;
  }
  /* form */

.form label,
.form input {
  display: block;
}

.form input {
  margin-bottom: 1rem;
}
.form label {
  margin-bottom: 0.2rem;
}
.form input[type="text"],
.form input[type="email"],
.form input[type="password"] {
  width: 100%;
  padding: 0.3rem;
  border: 1px solid #c2c2c2;
  border-radius: 8px;
  background-color: #f0f0f0;
  font-size: 1.1rem;
}
.form input:focus {
  border: 1px solid #50a4e9;
  box-shadow: inset 0px 0px 5px rgba(38, 142, 228, 0.5);
  outline: none;
}
.form input[type="submit"] {
  padding: 0.3rem 0.5rem;
  border: 1px solid #6aa051;
  border-radius: 8px;
  background-color: #c8ecb7;
  font-size: 1.1rem;
}

/* error notice */

.error-notice {
  margin: 1rem 0;
  padding: 0.5rem;
  border: 1px solid #e07c7c;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8d6d6;
}
.error-notice button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #df4343;
  color: #ffffff;
}
.Calendar {
  display:inline-block;
  font-size: 0.7rem;
  width: 30%;
  
}














  /* media queries */

@media screen and (max-width: 550px) {
    #header .title {
      font-size: 1.2rem;
    }
    #header .auth-options button {
      padding: 0 0.5rem;
      font-size: 0.9rem;
    }
  }